.code-icon {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.code-icon {
  position: absolute;
  text-align: center;
  display: block;
  height: 2.5em;
  width: 2.5em;
  top: 0;
  left: 0;
  line-height: 2.5em;
}

.code-icon-container {
  position: absolute;
  text-align: center;
  display: block;
  height: 2.5em;
  width: 2.5em;
  top: 0;
  left: 0;
  line-height: 2.5em;
}

.code-icon-subcontainer {
  position: relative;
  height: 2.5em;
  width: 2.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotater {
  from { transform: scale(1) }
  to { transform: scale(2) }
}

.code-icon.spin {
  animation: App-logo-spin infinite 12s linear;
}

.grow { transition: all 0.3s ease; }
.grow:hover { transform: scale(1.2); }

a.image > img{
  border: 1px solid black;
}

#footer .container .footer-icons {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

#footer .container .footer-icons li {
  list-style: none;
  padding-left: 0px;
  padding-right: 5em;
  height: 2em;
}

#footer .container .footer-icons li:last-of-type {
  padding-right: 0em;
}

#footer .container .footer-icons li .icon::before{
  font-size: 2em;
  vertical-align: top;
  color: #4acaa8;
}

.contact-info {
  font-size: 1.2em;
  padding-left: 0.5em;
  color: #989898;
}
